*.class
*.saved

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac Files
.DS_STORE

#IntelliJ
.idea/
*.iml

#Ant compile
sourceCode/java/dist/
sourceCode/java/build/
java/dist/
java/build/

#Eclipse Settings
.project
.classpath
bin/*
.settings/*
.metadata/*

out/*
/bin/
